<span class="login-form-title p-b-40">
  <h2><strong>Resend confirmation instructions</strong></h2>
</span>
  <p> Just enter your registered email and hit the button below to get the confirmation instructions.</p>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="p-b-15 p-t-20">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Type your email",value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>
    <div class="container-login-form-btn">
    <div class="wrap-login-form-btn">
      <div class="login-form-bgbtn">
      <%= f.submit value: "Resend confirmation instructions", class:"btn btn-primary login-form-btn"  %>
      </div>
    </div>
  </div>
  <br/>
  <%= link_to 'Back', '/', class:"txt2 btn btn-outline-dark" %>
  <% end %>
 
