<div class="container">
<div class="col-sm-6">
  <h2><strong>Forgot your password?</strong></h2>
  <p> Just enter your registered email and hit the button below to get the passowrd reset instructions.</p>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions" %>
    </div>
  <% end %><br/>
  <%= link_to 'Back', '/' %>
</div>
</div>
