<%= form_for(resource, as: resource_name, url: session_path(resource_name), :validate => true, :html => {:class => 'login-form '}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
            <span class="login-form-title p-b-40">
              Login
            </span>
            
            <div class="m-b-15">
              <span class="focus-label"><%= f.label :username %></span>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-addon"><span class="fa fa-user"></span></span>
                </div>
                <%= f.text_field :username,  validate: { presence: true }, placeholder:"Type your username",class:"form-control" %>
              </div>
            </div>

            <div class="m-b-15">
              <span class="focus-label"><%= f.label :password %></span>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                </div>
                <%= f.password_field :password, validate: { presence: true }, placeholder:"Type your password",class:"form-control"  %>
              </div>
            </div>
            
            <div class="text-right p-t-8 p-b-15">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot password?", new_password_path(resource_name) %><br />
            <% end %>
            </div>

            <div class="container-login-form-btn">
              <div class="wrap-login-form-btn">
                <div class="login-form-bgbtn">
                <%= f.submit value: "Login", class:"btn btn-primary login-form-btn"  %>
                <%= f.validate %>
                </div>
              </div>
            </div>
            <div class="text-right p-t-8 p-b-10">
            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name),class:"txt1" %><br />
            <% end %>
            </div>
        
            <div class="txt1 text-center p-t-10 p-b-10">
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "<b>Sign up</b>".html_safe, new_registration_path(resource_name), class:"txt2 btn btn-outline-dark" %><br /><br />
            <% end %>
              <span>
                Or Sign Up Using
              </span>
            </div>
            <div class="flex-c-m">
            <%= link_to '<i class="fa fa-facebook logo"></i>'.html_safe, omniauth_authorize_path(resource_name, :facebook), class:"login-social-item bg1" %>
            <%= link_to '<i class="fa fa-google-plus logo"></i>'.html_safe, omniauth_authorize_path(resource_name, :google_oauth2), class:"login-social-item bg3" %>
            </div>
          <% end %>



