<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BlogApp Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
      
      <%= stylesheet_link_tag    'util', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="limiter">
      <div class="container-login" style="background-image: none">
        <div class="row wrap-login p-l-55 p-r-55 p-t-20 p-b-20">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "alert alert-dismissible" %>
        <% end %>
        <%= yield %>
          
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>                   
    
  </body>
</html>
